* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center; 
}


body {
    font-family:'Times New Roman', Times, serif;
    line-height: 1.25;
    color:black;
    background-color:wheat;
    padding-bottom: 60px; 
}



header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


.menu-toggle {
    display: none;
    background: #007BFF;
    color: white;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    
}
.image-container img {
    margin: 2;
    width: auto;
    max-width:300px;
    height:auto;
    max-height:300px;
}



main {
    padding: 20px;
    background: white;
    margin-top: 30px;
}


section {
    margin-bottom: 20px;
}



#contact-form {
    max-width: 500px;
    margin: 0 auto;
}


#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


#contact-form button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }


    .menu-toggle {
        display: block;
        margin: 10px auto;
    }
}
.card {
    width:100%;
    max-width:600px;
    border:2px solid blue;
    max-height: auto;
    margin: auto;
    background-color: #007BFF;
    border-radius: 25px;
  }
  .cards{
    background-color:#2f4858;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
  }
  
  @media (min-width:450px){
    .cards{
      background-color: #fff;
    }
  }


  